body{
font-family:Arial;
background:#f5f5f5;
margin:20px;
}

h1{
text-align:center;
}

.cards{
display:flex;
justify-content:space-around;
margin:30px;
}

.card{
background:white;
padding:20px;
width:200px;
text-align:center;
border-radius:10px;
box-shadow:0px 2px 8px gray;
}

.chart{
width:80%;
margin:auto;
background:white;
padding:20px;
border-radius:10px;
}